*{
  font-weight: bold;
}
.navbar{
  height: 200px;
}
.navbar .logo{
  width: 250px;
  position: absolute;
  z-index: 20;
  margin: -4% 0 0 10%;
}
.navbar-bottom{
  margin-top: -2px;
  height: 100px;
  background-image: linear-gradient(to top, transparent 30%, #fff 80%);
}

.menu{
  float: right;
  display: inline-block;
  position: sticky;
  top:30px;
  z-index: 25;
  margin:0 30px 0 0;
}
.menu img{
  width: 220px;
}
.menu ul{
  position: absolute;
  list-style: none;
  margin-top: 62px;
}
.menu a{
  color:white;
  text-decoration: none;
}
.menu li:nth-child(odd) {
  margin-bottom: 50px;
  margin-left: 63px;
}
.menu li:nth-child(even){
  margin-bottom: 50px;
  margin-left: 3px;
}

.instagram{
  float: right;
  display: inline-block;
  position: absolute;
  top:550px;
  z-index: 25;
  margin:0 0 0 10px;
}
.instagram img{
  width: 220px;
}

.content{
  height: 520px;
  width: 68%;
  margin: -2% auto 0 auto;
  background: #00004d;
  border: 3px solid black;
  border-radius:25px;
}
.d-block{
  border-radius: 25px;
  border:5px solid black;
  height:500px;
}
.footer{
  height: 150px;
  margin-top: 1%;
  background-color: #00001a;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    margin: auto;
    height: 100%;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #e65c00 20%, #800000 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 50px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 50px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
