<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage_style.css') }}">
  <title>DUYET</title>
</head>

<body>
  <div class="navbar">
    <a href="{{url_for('homepage')}}"><img class="logo" src="{{url_for('static', filename='images/logo.png')}}" /></a>
    <div class="waveWrapper waveAnimation">
      <div class="waveWrapperInner bgTop">
        <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
      </div>
      <div class="waveWrapperInner bgMiddle">
        <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
      </div>
      <div class="waveWrapperInner bgBottom">
        <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
      </div>
    </div>
  </div>
  <div class="navbar-bottom"></div>
  <div class="menu">
    {% if session.logged_in %}
      {% if session.admin %}
          <ul>
            <li><a href="{{url_for('homepage')}}">Anasayfa</a></li>
            <li><a href="{{url_for('cekilisler')}}">Çekilişler</a></li>
            <li><a style="margin-left: -15px;font-size:15px;" href="{{url_for('admin')}}">Admin Panel</a></li>
            <li><a href="{{url_for('uyeler')}}">Üyeler</a></li>
            <li><a href="{{url_for('logout')}}">Çıkış Yap</a></li>
          </ul>
        {%else%}
          <ul>
            <li><a href="{{url_for('homepage')}}">Anasayfa</a></li>
            <li><a href="{{url_for('cekilisler')}}">Çekilişler</a></li>
            <li><a href="{{url_for('homepage')}}">Galeri</a></li>
            <li><a style="margin-left: -3px;font-size:14px;" href="{{url_for('homepage')}}">Etkinliklerimiz</a></li>
            <li><a href="{{url_for('logout')}}">Çıkış Yap</a></li>
          </ul>
        {%endif%}
    {%else%}
      <ul>
        <li><a href="{{url_for('homepage')}}">Anasayfa</a></li>
        <li><a href="{{url_for('login')}}">Giriş Yap</a></li>
        <li><a href="{{url_for('homepage')}}">Galeri</a></li>
        <li><a style="margin-left: -3px;font-size:14px;" href="{{url_for('homepage')}}">Etkinliklerimiz</a></li>
        <li><a style="margin-left: -3px;"href="{{url_for('homepage')}}">Biz Kimiz?</a></li>
      </ul>
    {%endif%}
    <img src="{{url_for('static',filename='images/navbar_menu.png')}}" alt="">
  </div>

  <div class="content">
    <form action="{{url_for('ayrinti',uye_no=uye_no)}}" , method="POST">
      <style media="screen">
        label {
          color: white;
          font-size: 25px;
          margin-right: 10px;
        }

        input {
          width: 250px;
          margin-bottom: 15px;
          background: rgba(0, 0, 0, 0.3);
          border: none;
          outline: none;
          padding: 10px;
          font-size: 13px;
          color: #fff;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 4px;
          box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
          -webkit-transition: box-shadow .5s ease;
          -moz-transition: box-shadow .5s ease;
          -o-transition: box-shadow .5s ease;
          -ms-transition: box-shadow .5s ease;
          transition: box-shadow .5s ease;
        }

        input:focus {
          box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
        }
      </style>
      <div style="width:900px;margin:50px auto 0 auto;" class="inputs">
        <div class="row">
          <div class="col-md-1">
            <label>Ad: </label>
          </div>
          <div class="col-md-4">
            <input type="text" value="{{ad}}" name="ad" required="required">
          </div>
          <div class="col-md-1">
            <label>Soyad: </label>
          </div>
          <div class="col-md-4">
            <input style="margin-left:40px" type="text" value="{{soyad}}" name="soyad" required="required"><br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <label>Parola: </label>
          </div>
          <div class="col-md-4">
            <input type="text" name="passwd" placeholder="Parola Giriniz" required="required">
          </div>
          <div class="col-md-2">
            <label>Okul No: </label>
          </div>
          <div class="col-md-4">
            <input style="margin-left:-35px" type="text" value="{{okul_no}}" name="okul_no" required="required">
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <label>Rol: </label>
          </div>
          <div class="col-md-4">
            <input type="text" value="{{rol}}" name="rol" required="required"><br>
          </div>
        </div>
      </div>
      <br>
      <button style="width: 300px; margin:0 auto 0 auto;" type="submit" class="btn btn-primary btn-block btn-large">Kaydet</button>
    </form>
    <br>
    <a href="{{url_for('uye_sil',uye_no=uye_no)}}"><button style="width: 300px; margin:0 auto 0 auto;" class="btn btn-danger btn-block btn-large">Üyeyi SİL</button></a>
  </div>
  <div class="footer">

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.5/trianglify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
